.link{
    color: #be0808;
    text-decoration: none;
}

.logincard{
    width: 42%;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(150, 150, 150, 0.27);
    border-radius: 10px;
    border-bottom-right-radius: 60px;
}