.button{
  font-size: 16px;
  padding: 0.813rem 1.688rem;
  border-radius: 5px;
  border: solid 1px #ffffff;
  &--shaped{
      border-bottom-right-radius: 20px;
      border: 0;
      box-shadow: 0 0 6px 0 rgba(108, 112, 6, 0.24);
      &.button--large {
        border-bottom-right-radius: 30px;
      }
      &.button--medium {
        border-bottom-right-radius: 25px;
      }
  }
  &--large{
      font-size: 18px;
      padding: 1rem 5.125rem;
      box-shadow: 0 0 12px 0 rgba(112, 6, 6, 0.24);
  }
  &--medium{
      font-size: 16px;
      padding: 1rem 2.625rem;
      box-shadow: 0 0 12px 0 rgba(112, 6, 6, 0.24);
  }
  &--small{
      font-size: 12px;
      padding: 0.5rem 0.813rem;
      box-shadow: 0 0 6px 0 rgba(108, 112, 6, 0.24);
  }
  &--white{
      background-color: #ffffff;
      box-shadow: 0 0 6px 0 rgba(108, 112, 6, 0.24);
  }
  &--transparent{
      color: white;
      background-color: transparent;
  }
  &--red{
      color: white;;
      background-color: #be0808;
      box-shadow: 0 0 6px 0 rgba(108, 112, 6, 0.24);
  }
  &--redoutline{
      color: #be0808;
      border: solid 1px #be0808;
  }
}

