<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Document</title>
</head>
<body style="background-color: purple;">
    <!-- button -->
    <button class="button button--transparent">
        Masuk
    </button>
    <button class="button button--shaped button--white">
        Lapor Bencana
    </button>
    <button class="button button--large button--shaped button--red">
        Cari Lokasi
    </button>
    <button class="button button--large button--shaped button--red">
        Donasi
    </button>
    <button class="button button--shaped button--white">
        #RehabilitasiMental
    </button>
    <button class="button button--white button--large">
        Pelajari
    </button>
    <button class="button button--transparent button--redoutline button--medium">
        Kelola Produk
    </button>
    <button class="button button--white button--small">
        Info Lembaga
    </button>
    <button class="button" style="background-color: rgba(0, 0, 0, 0.3); color: white; border: 0;">
        Ganti Foto Sampul
    </button>
    <button class="button button--red button--large button--shaped" style="padding: 1rem 12rem;">
        Selengkapnya
    </button>
    
</body>
</html>