<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/main.css"><!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="topbar">
        <div class="container">
            <button class="topbar__toggler">
                <i class="fa fa-bars"></i>
            </button>
            <div class="topbar__brand">
                <img class="topbar__brand__image" src="../assets/images/logo/logo-white.png" alt="">
            </div>
            <form class="topbar__search" action="">
                <input class="topbar__search__input" placeholder="Gempa palu" type="text">
                <button class="topbar__search__button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.515" height="17.515" viewBox="0 0 17.515 17.515">
                        <g id="Group_4740" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5px"
                            data-name="Group 4740" transform="translate(-768.455 -36.455)">
                            <circle id="Ellipse_846" cx="6.5" cy="6.5" r="6.5" stroke-linejoin="round"
                                data-name="Ellipse 846" transform="translate(769.205 37.205)" />
                            <path id="Line_48" d="M0 0L4.124 4.124" data-name="Line 48"
                                transform="translate(780.785 48.785)" />
                        </g>
                    </svg>
                </button>
            </form>
            <ul class="topbar__menu">
                <li class="topbar__menu__list">
                    <a class="topbar__menu__link" href="">Program</a>
                </li>
                <li class="topbar__menu__list">
                    <a class="topbar__menu__link" href="">Relawan</a>
                </li>
                <li class="topbar__menu__list">
                    <a class="topbar__menu__link" href="">Panduan</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>